<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.yuntechlife.dao.system.NoticeMapper">
    <select id="getList" parameterType="com.boot.yuntechlife.entity.system.Notice"
            resultType="com.boot.yuntechlife.entity.system.Notice">
        select id,state,type,top,title,jump_type,lay_text,url,content,show_time,add_time from notice where state=1 and
        deleted=false and now()>=show_time and now()&lt;hide_time
        order by top desc,show_time desc
    </select>
</mapper>