<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.yuntechlife.dao.express.ExpressScoreMapper">
    <insert id="insertOne" parameterType="com.boot.yuntechlife.entity.express.ExpressScore">
        insert into express_score
        values(0,#{user_id},#{from_user_id},#{express_taker_id},#{state},#{type},#{anonymous},#{score},#{comments},false,CURRENT_TIMESTAMP())
    </insert>
</mapper>